body{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container-all-table{

  width: 90%;
  margin: auto;
  margin-top: 5%;

}

.container-all-btn{
  
  display: flex;
  width: 30px;
  justify-content:space-between
  
}

.td{

  width: 20%;
  align-items: center;
}

.margen{
   margin-left: 5px;
}
